accelerate
bitsandbytes 
cached_path
click
datasets
ema_pytorch
faster_whisper
funasr
gradio
jieba
jiwer
librosa
matplotlib
modelscope
numpy
pydub
pypinyin
safetensors
soundfile
tomli
torch
torchaudio
torchdiffeq
tqdm
transformers
transformers_stream_generator
vocos
wandb
x_transformers
zhconv
zhon
tensorboard
cyrtranslit
nltk
pandas 
faster-whisper
pyannote.audio
